<!-- About -->
<section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.about.subtitle | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        {% for text in site.data.sitetext.about.text %}
        <div class="large text-muted">{{ text.p | markdownify }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- End About -->
