<!-- Contact -->
<section class="page-section" id="{{ site.data.sitetext.contact.section | default: "contact" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext.contact.title | markdownify | default: "" }}
        </h2>
      </div>
    </div>
        <form id="contactForm" action="https://formspree.io/mwkrjarr" novalidate="novalidate" method="POST">
          <div class="row justify-content-center">
            <div class="col-10 col-md-8">
              <div class="form-group">
                <input name="name" class="form-control" id="name" type="text"
                  placeholder="{{ site.data.sitetext.contact.name.placeholder }}" required="required"
                  data-validation-required-message="{{ site.data.sitetext.contact.name.validation }}">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="_replyto" class="form-control" id="email" type="email"
                  placeholder="{{ site.data.sitetext.contact.email.placeholder }}" required="required"
                  data-validation-required-message="{{ site.data.sitetext.contact.email.validation }}">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="phone" class="form-control" id="phone" type="tel"
                  placeholder="{{ site.data.sitetext.contact.phone.placeholder }}" required="required"
                  data-validation-required-message="{{ site.data.sitetext.contact.phone.validation }}">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group text-center">
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">
                  {{ site.data.sitetext.contact.submit }}
                </button>
              </div>
            </div>
          </div>
        </form>
  </div>
</section>
<!-- End Contact -->
