<!-- Facts -->
<section class="page-section" id="{{ site.data.sitetext.facts.section | default: "" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext.facts.title | markdownify }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ol>
          {% for text in site.data.sitetext.facts.text %}
          <li>{{text.li}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- End Facts -->
