<!-- FAQ -->
<section class="page-section" id="{{ site.data.sitetext.faq.section | default: "" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext.faq.title | markdownify }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          {% for text in site.data.sitetext.faq.text %}
          <div class="mb-4">
            <h5>{{text.heading}}</h5>
            <p>{{text.p}}</p>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- End FAQ -->
