<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      {%- if site.logo -%}
      <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}" />
      {%- else -%}
      {{ site.title }}
      {%- endif -%}
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Меню
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        {%- for link in site.data.navigation.nav -%}
        <li class="nav-item">
          {%- if link.url -%}
          <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
          {%- else if link.section -%}
          <a class="nav-link js-scroll-trigger" href="#{{ link.section }}">{{ link.title }}</a>
          {%- else -%}
          <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
          {%- endif -%}
        </li>
        {% endfor %}
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">{{ site.data.sitetext.header.title | markdownify }}</div>
      {%- if site.data.sitetext.header.text -%}
      <div class="intro-heading text-uppercase">{{ site.data.sitetext.header.text | markdownify }}</div>
      {%- endif -%}
      {%- if site.data.sitetext.header.button -%}
          <a class="nav-link js-scroll-trigger" href="">{{ link.title }}</a>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
        href="{{ site.baseurl }}/#contact">{{ site.data.sitetext.header.button }}</a>
      {%- endif -%}
    </div>
  </div>
</header>
<!-- End Header -->
