<!-- Services -->
<section class="page-section" id="{{ site.data.sitetext.plans.section | default: "" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext.plans.title | default: "" }}
        </h2>
        {% if site.data.sitetext.plans.subtitle %}
          <h3 class="section-subheading text-muted">{{ site.data.sitetext.plans.subtitle }}</h3>
        {% endif %}
      </div>
    </div>

    <div class="row text-center">
      {% for plan in site.data.sitetext.plans.text %}
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="{{ plan.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">{{ plan.title | markdownify }}</h4>
        {% if plan.desc %}<div class="text-muted">{{ plan.desc | markdownify }}</div>{% endif %}
        {% if plan.fee %}<div class="text-muted">{{ plan.fee | markdownify }}</div>{% endif %}
      </div>
      {% endfor %}
    </div>

  </div>
</section>
<!-- End Services -->
