<!-- Why Us -->
<section class="page-section" id="{{ site.data.sitetext.whyus.section | default: "" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext.whyus.title | markdownify }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ol>
          {% for text in site.data.sitetext.whyus.text %}
          <li>{{text.li}}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- End Why Us -->
 
Результаты: Скриншоты с успешными  результатами (предоставлю отдельно)

Возврат 5000$
