<!DOCTYPE html>
<html lang="{{ site.lang | default: "ru" }}">

{% include head.html %}

<body id="page-top">

  {{ content }}

  {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="assets/js/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="assets/js/jqBootstrapValidation.js"></script>
  <script src="assets/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="assets/js/agency.min.js"></script>

  <!-- The Formbutton script -->
  <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script>
    window.formbutton = window.formbutton || function () { (formbutton.q = formbutton.q || []).push(arguments) };
    formbutton("create", {
      action: "https://formspree.io/mwkrjarr" ,
      title: "Напишите нам!", 
      description: "Оставьте свои контактные данные, чтобы мы могли связаться с Вами.",
      fields: [{
        name: "name",
        type: "text",
        label: "Имя",
        placeholder: "Ваше имя",
        required: true
      },
      {
        name: "email",
        type: "email",
        label: "Электронная почта",
        placeholder: "your@email.com",
        required: true
      },
      {
        name: "phone",
        type: "text",
        label: "Номер телефона",
        placeholder: "+380 (96) 6081272",
        required: true
      },
      {
        type: "submit",
        value: "Отправить"
      }],
      styles: {
        button: {
          background: "#212529"
        },
        title: {
          background: "#212529"
        },
        description: {
          background: "#212529"
        }
      },
      onResponse: function(ok, setStatus, response) {
        if (ok) {
          setStatus("Мы получили Ваш запрос и свяжемся с Вами в ближайшее время!");
        } else {
          try {
            setStatus(response.data.error);
          } catch {
            setStatus("Что-то пошло не так. Попробуйте отправить форму ещё раз!");
          }
        }
      }
    })
  </script>
</body>

</html>
